<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="CustomerAuth">
            <file>tests/Feature/CustomerAuthApiTest.php</file>
            <file>tests/Feature/CustomerServicesCatalogApiTest.php</file>
            <file>tests/Feature/AdminCustomerApiIntegrationTest.php</file>
            <file>tests/Feature/AdminCustomerSoftDeleteTest.php</file>
            <file>tests/Unit/CustomerAuthResourceTest.php</file>
            <file>tests/Unit/CustomerStatusTest.php</file>
            <file>tests/Unit/AdminCustomerResourceTest.php</file>
        </testsuite>
        <testsuite name="Ewallet">
            <file>tests/Unit/WalletServiceTest.php</file>
            <file>tests/Unit/Admin/AdminWalletServiceTest.php</file>
            <file>tests/Unit/AdminWalletResourceTest.php</file>
            <directory>tests/Unit/Accounting</directory>
            <file>tests/Feature/AdminWalletMoneyApiTest.php</file>
            <file>tests/Feature/AdminWalletApiTest.php</file>
            <file>tests/Feature/WalletAccountingReconciliationTest.php</file>
            <file>tests/Feature/CustomerWalletApiTest.php</file>
            <file>tests/Feature/AdminAccountingApiTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:2fl+K9kMaulFbF2jxmJhHLa8VX8w/XWf6bY/9j2j7xs="/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="customer_auth_testing"/>
        <env name="JWT_SECRET" value="testing-customer-auth-jwt-secret"/>
        <env name="OTP_MOCK_CODE" value="111111"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="WALLET_TRANSFER_FEE" value="0"/>
    </php>
</phpunit>
